<header class="header">
	<div class="wrapper">
		<a class="header__logo" href="{{ site.baseurl }}/"><img src="/images/logo.svg"/></a>

		<div class="header__icons">
			<a class="header__icon" href="https://www.facebook.com/parisholley" target="_blank"><i class="fa fa-facebook-f"></i></a>
			<a class="header__icon" href="https://linkedin.com/in/parisholley" target="_blank"><i class="fa fa-linkedin"></i></a>
			<a class="header__icon" href="https://twitter.com/parisholley" target="_blank"><i class="fa fa-twitter"></i></a>
			<a class="header__icon" href="mailto:mail@parisholley.com" target="_blank"><i class="fa fa-envelope-o"></i></a>
			<a class="header__icon" href="https://github.com/parisholley" target="_blank"><i class="fa fa-github"></i></a>
			<a class="header__icon" href="https://soundcloud.com/parisholley" target="_blank"><i class="fa fa-soundcloud"></i></a>
			<a class="header__icon" href="https://www.flickr.com/photos/parisholley" target="_blank"><i class="fa fa-flickr"></i></a>
		</div>
	</div>
</header>
