---
layout: default
---
<div class="role role--prog role--small">
	<div class="wrapper">
		<div class="role__image">
			<div class="role__image__wrapper" style="background-image:url(/images/prog.png)"></div>
			<div class="role__image__bg" style="background-image:url(/images/prog_bg.png)"></div>
		</div>
		<div class="role__content">
			<h1 class="role__title">{{ page.title | escape }}</h1>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="page">
		<div class="wysiwyg">{{ content }}</div>
	</div>
</div>